* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(/img/zOY7ROKMih\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 1600px;
}

.navbar-logo {
  margin-left: 208px;
  width: 186px;
  height: 144px;
}

.menu-main {
  list-style: none;
  margin-top: 51px;
  margin-right: 231px;
  margin-left: 100px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 20px;
}

.active {
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 20px;
  font-family: 'Gelasio-Medium';
  font-size: 16px;
  color: #1B75BB;
}

.not__active {
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 40px;
  font-family: 'Gelasio-Medium';
  font-size: 16px;
  color: #505f6c;
  transition:.3s linear;
}

.menu-main a:hover {
  opacity: 1;
  color: #1B75BB;
}

.nav__button {
  display: flex;
  height: 53px;
  width: 134px;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
  margin-right: 230px;
  color: #FFFFFF;
  font-family: 'Gelasio-Medium';
  text-decoration: none;
}

.nav__button:hover {
  transition: 0.5s;
  background-color: #09497A;
}

.nav__media_button {
  display: none;
}

main {
  margin-top: 78px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1600px;
}

.info__block {
  margin-left: 229px;
}

.info__block #Serenity {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4890c7;
  margin-bottom: 15px;
}

.info__block #Stay_with_us {
  color: #081F32;
  font-family: 'Gelasio-SemiBold';
  font-size: 50px;
  line-height: 120%;
}

.info__block #home {
  text-decoration: none;
  color: #1B75BB;
  font-family: 'Gelasio-SemiBold';
}

.info__block #Pet-friendly {
  font-family: 'Roboto-Regular';
  color: #081F32;
  opacity: 60%;
  line-height: 160%;
  margin-top: 20px;
  font-size: 17px;
}

.read_more_button {
  margin-top: 30px;
  display: flex;
  height: 56px;
  width: 138px;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Roboto-Medium';
  text-decoration: none;
}

.read_more_button:hover {
  transition: 0.5s;
  background-color: #09497A;
}

.chek_status {
  margin-top: 48px;
  margin-left: 195px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 687px;
  height: 110px;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(70px);
  border-radius: 10px;
}

.find_room_button {
  display: flex;
  height: 56px;
  width: 133px;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Roboto-Medium';
  text-decoration: none;
}

.find_room_button:hover {
  transition: 0.5s;
  background-color: #09497A;
}

.chek_first {
  font-family: 'Roboto-Medium';
  font-size: 16px;
  color: #081F32;
  margin-bottom: 10px;
}

.chek_second {
  font-family: 'Roboto-Regular';
  font-size: 16px;
  color: #081F32;
  opacity: 80%;
}

.video_player {
  width: 1301px;
  height: 462px;
  margin-left: 41px;
  margin-right: 258px;
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player {
  width: 773px;
  height: 462px;
  background-image: url(/img/Group_310.png);
  background-size: 100%;
}

.player__button {
  background-color: white;
  margin-left: 351px;
  margin-top: 169px;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 100%;
}

.player__button:hover{
  background-color: #09497A;
  transition: 0.5s;
}

.player__button img {
  padding-left: 10px;
}

.player_text {
  margin-left: 98px;
  width: 430px;
  height: 222px;
}

#player_text1 {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #4890c7;
}

#player_text2 {
  font-family: 'Gelasio-Medium';
  font-size: 32px;
  color: #081F32;
}

#player_text_button {
  display: flex;
  height: 56px;
  width: 137px;
  margin-top: 31px;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Roboto-Medium';
  text-decoration: none;
}

#player_text_button:hover {
  transition: 0.5s;
  background-color: #09497A;
}

.benefits {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#benefits_header_text {
  font-family: 'Gelasio-Medium';
  font-size: 32px;
  color: #081F32;
  margin-bottom: 25px;
}

#benefits_main_text {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  color: #081F32;
  opacity: 80%;
  margin-bottom: 60px;
}

.benefits_items {
  margin-bottom: 140px;
  width: 1140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.benefits_item {
  width: 262px;
  height: 258px;
  border: #e6e6e6 solid 1px;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.benefits_item img {
  width: 74px;
  height: 70px;
}

.benefits_item p {
  max-width: 228px;
  text-align: center;
}

.benefits_item_header_name {
  font-family: 'Gelasio-Medium';
  font-size: 24px;
  color: #081F32;
}

.benefits_item_main_text {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  color: #081F32;
  opacity: 60%;
}

.hotel_gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 140px;
}

.gallery_text {
  width: 555px;
  height: 337px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 15px;
}

.gallery_header_text {
  font-family: 'Gelasio-Medium';
  font-size: 32px;
  color: #081F32;
}

.gallery_main_text {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  color: #081F32;
  opacity: 60%;
  max-width: 439px;
}

.gallery_text_button {
  text-decoration: none;
  display: flex;
  height: 56px;
  width: 136px;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Roboto-Medium';
  text-decoration: none;
}

.gallery_text_button:hover {
  transition: 0.5s;
  background-color: #09497A;
}

.gallery_card {
  width: 555px;
  height: 337px;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  margin: 15px;
}

.gallery_status {
  width: 231px;
  height: 84px;
  padding: 23px 0 23px 0;
  border-radius: 10px;
  background: rgba(226, 226, 226, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-room_name {
  font-family: 'Gelasio-Medium';
  font-weight: 500;
  font-size: 18px;
  color: #081F32;
  line-height: 160%;
}

.gallery-room_price {
  text-align: center;
  font-family: 'Roboto-Medium';
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #081F32;
  opacity: 0.8;
}

.gallery_button {
  text-decoration: none;
  display: flex;
  height: 41px;
  width: 105px;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Gelasio-Medium';
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  text-decoration: none;
  margin-right: auto;
  margin-left: 25px;
}

.gallery_button:hover {
  transition: 0.5s;
  background-color: #09497A;
}

.gallery_card_1 {
  background-image: url(/img/Rectangle_15.png);
}

.gallery_card_2 {
  background-image: url(/img/Rectangle_17.png);
}

.gallery_card_3 {
  background-image: url(/img/Rectangle_19.png);
}

.gallery_card_4 {
  background-image: url(/img/Rectangle_21.png);
}

.gallery_card_5 {
  background-image: url(/img/Rectangle_22.png);
}

.client_say {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.client_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.client_header p {
  margin-right: 718px;
  font-family: 'Gelasio-Medium';
  font-size: 32px;
  line-height: 45px;
}

.client_header a {
  text-decoration: none;
  display: flex;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Roboto-Medium';
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  width: 133px;
  height: 62px;
}

.client_header a:hover {
  transition: 0.5s;
  background-color: #09497A;
}

.clients {
  display: flex;
  margin-bottom: 140px;
}

.client {
  width: 283px;
  height: 279px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 40px 28px 40px;
  margin: 15px;
  border: #e6e6e6 solid 1px;
  border-radius: 10px;
}

.media_show {
  display: none;
}

.client_photo {
  height: 100px;
  width: 100px;
}

.commas {
  width: 24px;
  height: 20px;
  margin-left: 39px;
  margin-right: 100%;
  margin-bottom: 5px;
}

.client_header_text {
  text-align: center;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #081F32;
  opacity: 0.6;
  margin-bottom: 40px;
}

.client_main_header_text {
  text-align: center;
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #081F32;
  margin-bottom: 40px;
}

.client_main_text {
  font-family: 'Gelasio-Medium';
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #081F32;
  opacity: 0.7;
}

.client_main_main_text {
  font-family: 'Gelasio-Medium';
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #081F32;
}

.client_footer_text {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #081F32;
  opacity: 0.7;
}

.client_main_footer_text {
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #081F32;
}

.mailing_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 124px;
}

.mailing_header_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: 'Roboto-Medium';
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #081F32;
  opacity: 0.8;
  margin-bottom: 20px;
}

.mailing_main_text {
  font-family: 'Gelasio-Medium';
  font-weight: 500;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  color: #081F32;
  margin-bottom: 50px;
}

.mailing_subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #e6e6e6 solid 1px;
  border-radius: 5px;
}

.mailing__input {
  width: 430px;
  height: 54px;
  border: 0;
  padding-left: 30px;
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.mailing__button {
  text-decoration: none;
  display: flex;
  height: 54px;
  width: 164px;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
}

.mailing__button:hover {
  transition: 0.5s;
  background-color: #09497A;
}

footer {
  display: flex;
  justify-content: center;
  height: 411px;
  width: 100%;
  background-color: #FCFCFD;
}

.footer__main {
  display: flex;
  justify-content: space-around;
  width: 1203px;
  height: 250px;
}

.footer__block {
  margin-top: 16px;
  width: 279px;
}

.footer__logo {
  height: 144px;
  position: absolute;
}

.footer__text {
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #081F32;
  opacity: 0.7;
  margin-left: 20px;
  margin-top: 105px;
  margin-bottom: 30px;
}

.footer__email {
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #081F32;
  opacity: 0.7;
  margin-left: 20px;
}

.footer__media {
  margin-left: 8.5px;
  margin-top: 15px;
}

.media_item {
  text-decoration: none;
  height: 20px;
  width: 20px;
  margin: 0 12.5px 0 12.5px;
}

.footer__items {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.footer__item_name {
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #081F32;
  margin-bottom: 20px;
}

.footer__item {
  text-decoration: none;
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #081F32;
  opacity: 0.7;
  margin-bottom: 20px;
}

.footer__item:hover {
  opacity: 1;
  color: #1B75BB;
}

.footer__subscribe {
  margin-top: 70px;
  margin-right: 20px;
}

.footer__subscribe_text {
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #081F32;
}

.footer__subscribe_input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #e6e6e6 solid 1px;
  border-radius: 5px;
}

.subscribe__input {
  width: 327px;
  height: 54px;
  border: 0;
  padding-left: 30px;
  font-family: 'Poppins-Regular';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.subscribe__button {
  text-decoration: none;
  display: flex;
  height: 54px;
  width: 164px;
  background-color: #1B75BB;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Poppins-Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: 25px;
}

.subscribe__button:hover {
  transition: 0.5s;
  background-color: #09497A;
}

@media(min-width: 1601px) {
  .video_player {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
  }
}

@media(max-width: 1599px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
  }

  .navbar-logo {
    margin-left: 8%;
  }

  .menu-main {
    margin-left: 0;
    margin-right: 0;
  }

  .nav__button {
    margin-right: 10%;
  }

  .info__block {
    margin-left: 10%;
  }

  .chek_status {
    margin-left: 8%;
  }

  .video_player {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .player {
    background-image: url(/img/Rectangle_12.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 687px;
    height: 382px;
  }

  .player__button {
    margin-left: 278px;
    margin-top: 180px;
  }

  .player_text {
    width: 687px;
    margin-left: 0;
    margin-top: 30px;
  }

  .footer__main {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }

  .footer__block {
    margin-left: 40px;
    margin-right: 20px;
  }

  .footer__items {
    margin-left: 15px;
    margin-right: 20px;
  }

  .footer__subscribe {
    margin-right: 40px;
    margin-left: 20px;
  }
}

@media(max-width: 1429px) {
  .benefits_items {
    max-width: 770px;
    flex-wrap: wrap;
  }

  #benefits_main_text {
    margin-left: 30px;
    margin-right: 30px;
  }

  .benefits_item {
    margin-bottom: 30px;
  }
}

@media(max-width: 1180px) {
  .clients {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .client_header {
    width: 90%;
  }

  .client_header p {
    width: 289px;
    margin: 0;
  }

  .media_hide {
    display: none;
  }

  .media_show {
    display: flex;
  }
}

@media(max-width: 1050px) {
  .menu-main {
    display: none;
  }

  .nav__button {
    display: none;
  }

  .nav__media_button {
    display: block;
    width: 75px;
    height: 75px;
    margin-right: 30px;
    margin-top: 30px;
  }

  .info__block #Stay_with_us {
    font-size: 45px;
  }

  .mailing_main_text {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media(max-width: 800px) {
  .player {
    background-image: url(/img/Rectangle_121.png);
    width: 560px;
    height: 300px;
  }

  .player_text {
    width: 560px;
  }

  .player__button {
    margin-left: 235px;
    margin-top: 96px;
  }
}

@media(max-width: 720px) {
  .nav__media_button {
    height: 50px;
    width: 50px;
  }

  .chek_status {
    flex-wrap: wrap;
    min-height: 110px;
    width: 409px;
    height: 0px;
  }

  .find_room_button {
    width: 383px;
  }

  .benefits_items {
    max-width: 300px;
    margin-bottom: 15px;
  }

  .mailing_subscribe {
    width: 70%;
  }

  .mailing_subscribe {
    width: 70%;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0;
  }

  .mailing__input {
    border: 1px #e6e6e6 solid;
    width: 100%;
    padding-left: 7%;
  }

  .mailing__button {
    width: 107%;
    margin-left: 0;
  }

  .footer__main {
    max-width: 474px;
  }

  .footer__subscribe {
    width: 70%;
  }

  .footer__subscribe_input {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0;
  }

  .subscribe__input {
    border: 1px #e6e6e6 solid;
    width: 100%;
    padding-left: 7%;
  }

  .subscribe__button {
    width: 107%;
    margin-left: 0;
  }
}

@media(max-width: 697px) {
  .player {
    background-image: url(/img/Rectangle_121.png);
    width: 500px;
    height: 263px;
  }

  .player_text {
    width: 500px;
  }

  .player__button {
    margin-left: 200px;
    margin-top: 83px;
  }
}

@media(max-width: 550px) {
  .chek_status {
    margin-left: 3%;
  }

  .video_player {
    display: none;
  }

  .gallery_header_text {
    font-size: 31px;
  }

  .client_header p {
    font-size: 29px;
  }

  .mailing_main_text {
    font-size: 29px;
  }
}

@media(max-width: 430px) {
  .chek_status {
    width: 272px;
    height: 217px;
    margin-left: 10%;
  }
}

@media(max-width: 386px) {
  .client {
    width: 90%;
  }
}

@font-face {
  font-family: 'Gelasio-Medium';
  src: url("/font/Gelasio/Gelasio-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Gelasio-SemiBold';
  src: url("/font/Gelasio/Gelasio-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("/font/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("/font/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("/font/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url("/font/Poppins/Poppins-Medium.ttf") format("truetype");
}
